In [1]:
# replace
# loc & iloc
# groupby
# merging
# concate
# append

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\WD_DA_10am_11april-main\IPL Matches 2008-2020.csv')

In [4]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
# replace 
rep = df.replace(['Bangalore'],['Noida'])

In [6]:
rep

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Noida,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [7]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [9]:
rep.replace('Noida',value = 56)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,56,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [10]:
# value_counts
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [11]:
df['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          65
Hyderabad          64
Chennai            57
Chandigarh         56
Jaipur             47
Pune               38
Abu Dhabi          29
Dubai              26
Bengaluru          15
Durban             15
Visakhapatnam      13
Ahmedabad          12
Sharjah            12
Centurion          12
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cuttack             7
Cape Town           7
Port Elizabeth      7
Ranchi              7
Raipur              6
Kochi               5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

In [12]:
#wap to count no. of player of the match?
df.player_of_match.value_counts()

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
                  ..
S Anirudha         1
M Kartik           1
R McLaren          1
RJ Harris          1
PJ Cummins         1
Name: player_of_match, Length: 233, dtype: int64

In [14]:
# loc -----> location
# iloc ----> index based location

df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [17]:
df.team1.loc[0:5:2]

0    Royal Challengers Bangalore
2               Delhi Daredevils
4          Kolkata Knight Riders
Name: team1, dtype: object

In [20]:
#wap to get the name of team 1 alternatively.\
df['team1'].loc[::2]

0      Royal Challengers Bangalore
2                 Delhi Daredevils
4            Kolkata Knight Riders
6                  Deccan Chargers
8                  Deccan Chargers
                  ...
806            Sunrisers Hyderabad
808    Royal Challengers Bangalore
810                 Delhi Capitals
812                 Mumbai Indians
814                 Delhi Capitals
Name: team1, Length: 408, dtype: object

In [24]:
# iloc----> index based location.

df['team2'].iloc[0:30:2]

0           Kolkata Knight Riders
2                Rajasthan Royals
4                 Deccan Chargers
6                Delhi Daredevils
8                Rajasthan Royals
10               Rajasthan Royals
12                Deccan Chargers
14            Chennai Super Kings
16    Royal Challengers Bangalore
18          Kolkata Knight Riders
20    Royal Challengers Bangalore
22               Delhi Daredevils
24                Kings XI Punjab
26               Rajasthan Royals
28    Royal Challengers Bangalore
Name: team2, dtype: object

In [26]:
df.iloc[0:20]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba
10,335992,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
11,335993,Chennai,2008-04-26,JDP Oram,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
12,335994,Mumbai,2008-04-27,AC Gilchrist,Dr DY Patil Sports Academy,0,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,N,NaN,Asad Rauf,SL Shastri
13,335995,Chandigarh,2008-04-27,SM Katich,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,bat,Kings XI Punjab,wickets,4.0,N,NaN,RE Koertzen,I Shivram
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
15,335997,Kolkata,2008-04-29,ST Jayasuriya,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,7.0,N,NaN,BF Bowden,AV Jayaprakash
16,335998,Delhi,2008-04-30,GD McGrath,Feroz Shah Kotla,0,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Daredevils,runs,10.0,N,NaN,Aleem Dar,I Shivram
17,335999,Hyderabad,2008-05-01,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,7.0,N,NaN,BR Doctrove,RB Tiffin
18,336000,Jaipur,2008-05-01,SA Asnodkar,Sawai Mansingh Stadium,0,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals,runs,45.0,N,NaN,RE Koertzen,GA Pratapkumar
19,336001,Chennai,2008-05-02,V Sehwag,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,8.0,N,NaN,BF Bowden,K Hariharan

In [31]:
df.iloc[:,1:4]

           city        date player_of_match
0     Bangalore  2008-04-18     BB McCullum
1    Chandigarh  2008-04-19      MEK Hussey
2         Delhi  2008-04-19     MF Maharoof
3        Mumbai  2008-04-20      MV Boucher
4       Kolkata  2008-04-20       DJ Hussey
..          ...         ...             ...
811       Dubai  2020-09-28  AB de Villiers
812       Dubai  2020-11-05       JJ Bumrah
813   Abu Dhabi  2020-11-06   KS Williamson
814   Abu Dhabi  2020-11-08      MP Stoinis
815       Dubai  2020-11-10        TA Boult

[816 rows x 3 columns]

In [39]:
# group by-----> team,city,playerofmatch
df.groupby(by = 'team1').mean()

                                       id  neutral_venue  result_margin
team1
Chennai Super Kings          6.753125e+05       0.148936      17.784946
Deccan Chargers              4.385486e+05       0.256410      14.153846
Delhi Capitals               1.202348e+06       0.000000      17.647059
Delhi Daredevils             6.738618e+05       0.132530      17.670732
Gujarat Lions                1.025441e+06       0.000000       9.866667
Kings XI Punjab              7.601415e+05       0.086957      18.163043
Kochi Tuskers Kerala         5.012330e+05       0.000000      19.571429
Kolkata Knight Riders        7.942457e+05       0.073684      15.282609
Mumbai Indians               8.087483e+05       0.030928      17.947368
Pune Warriors                5.512894e+05       0.000000      15.521739
Rajasthan Royals             7.222976e+05       0.042857      15.260870
Rising Pune Supergiant       1.082618e+06       0.000000      27.428571
Rising Pune Supergiants      9.809653e+05       0.000000       7.571429
Royal Challengers Bangalore  7.363633e+05       0.166667      21.067961
Sunrisers Hyderabad          9.637267e+05       0.050847      17.120690

In [40]:
df.groupby(by = 'team1').median()

                                    id  neutral_venue  result_margin
team1
Chennai Super Kings           598007.0            0.0            9.0
Deccan Chargers               419120.0            0.0            8.0
Delhi Capitals               1216500.0            0.0            9.0
Delhi Daredevils              598010.0            0.0            8.0
Gujarat Lions                 981015.0            0.0            7.0
Kings XI Punjab               733992.0            0.0            8.0
Kochi Tuskers Kerala          501233.0            0.0            8.0
Kolkata Knight Riders         734037.0            0.0            8.0
Mumbai Indians                829729.0            0.0            8.0
Pune Warriors                 548351.0            0.0            8.0
Rajasthan Royals              598048.0            0.0            8.0
Rising Pune Supergiant       1082620.0            0.0            7.0
Rising Pune Supergiants       980957.0            0.0            4.0
Royal Challengers Bangalore   598058.0            0.0            8.0
Sunrisers Hyderabad           981015.0            0.0            7.0

In [45]:
df.groupby(by = 'city',level =- 1).mean()

            id  neutral_venue  result_margin
0     335982.0            0.0          140.0
1     335983.0            0.0           33.0
2     335984.0            0.0            9.0
3     335985.0            0.0            5.0
4     335986.0            0.0            5.0
..         ...            ...            ...
811  1216547.0            0.0            NaN
812  1237177.0            0.0           57.0
813  1237178.0            0.0            6.0
814  1237180.0            0.0           17.0
815  1237181.0            0.0            5.0

[816 rows x 3 columns]

In [49]:
# level > 0 or level < -1


# ascending order or descending order.
df.groupby(by = 'city',sort = False).mean()

                          id  neutral_venue  result_margin
city
Bangalore       6.782143e+05       0.000000      23.870968
Chandigarh      7.446744e+05       0.000000      14.803571
Delhi           7.579655e+05       0.000000      17.597222
Mumbai          7.061605e+05       0.000000      15.790000
Kolkata         7.672587e+05       0.000000      14.883117
Jaipur          6.912345e+05       0.000000      15.787234
Hyderabad       8.125284e+05       0.000000      15.507937
Chennai         6.391976e+05       0.000000      18.089286
Cape Town       3.921861e+05       1.000000      27.166667
Port Elizabeth  3.922047e+05       1.000000      31.714286
Durban          3.922078e+05       1.000000      12.800000
Centurion       3.922185e+05       1.000000      10.833333
East London     3.922090e+05       1.000000      31.333333
Johannesburg    3.922249e+05       1.000000       7.500000
Kimberley       3.922177e+05       1.000000      21.000000
Bloemfontein    3.922280e+05       1.000000      10.000000
Ahmedabad       6.609522e+05       0.000000      19.818182
Cuttack         5.909876e+05       0.000000      13.285714
Nagpur          4.191463e+05       0.000000       7.000000
Dharamsala      5.149928e+05       0.000000      33.555556
Kochi           5.012238e+05       0.000000      24.600000
Indore          9.774133e+05       0.000000       9.888889
Visakhapatnam   9.104070e+05       0.000000      24.000000
Pune            8.252652e+05       0.000000      19.657895
Raipur          8.029472e+05       0.000000       7.666667
Ranchi          7.088507e+05       0.000000       9.285714
Abu Dhabi       1.100336e+06       0.241379      19.222222
Rajkot          1.031774e+06       0.000000      13.111111
Kanpur          1.031823e+06       0.000000       5.500000
Bengaluru       1.152100e+06       0.000000       8.571429
Dubai           1.218113e+06       0.000000      29.260870
Sharjah         1.216516e+06       0.000000      20.500000

In [65]:
# merge,concate,append
x1= {
    "name":["aman","jai"],
    "age":[45,87],
    "marks":[450,987],
    "hobby":'dance'
}
x2={
    "name":[ "aman","johnny"],
    "age": [23,89],
    "marks":[870,980]

}

In [66]:
x1

{'name': ['aman', 'jai'],
 'age': [45, 87],
 'marks': [450, 987],
 'hobby': 'dance'}

In [67]:
x2

{'name': ['aman', 'johnny'], 'age': [23, 89], 'marks': [870, 980]}

In [68]:
# change the dict into data frames.
df1= pd.DataFrame(x1)

In [69]:
df1

   name  age  marks  hobby
0  aman   45    450  dance
1   jai   87    987  dance

In [70]:
df2 = pd.DataFrame(x2)

In [71]:
df2

     name  age  marks
0    aman   23    870
1  johnny   89    980

In [72]:
# merge
s = pd.merge(df1,df2,how = 'left')

In [73]:
s

   name  age  marks  hobby
0  aman   45    450  dance
1   jai   87    987  dance

In [74]:
s = pd.merge(df1,df2,how = 'right')

In [75]:
s

     name  age  marks hobby
0    aman   23    870   NaN
1  johnny   89    980   NaN

In [76]:
s = pd.merge(df1,df2,how = 'inner')

In [77]:
s

Empty DataFrame
Columns: [name, age, marks, hobby]
Index: []

In [78]:
s = pd.merge(df1,df2,how = 'outer')

In [79]:
s

     name  age  marks  hobby
0    aman   45    450  dance
1     jai   87    987  dance
2    aman   23    870    NaN
3  johnny   89    980    NaN

In [ ]:
# concate & append